<!DOCTYPE html>
<html>
<head>
	<title>Página Inicial</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<div class="container">
		<h2 class="title">Home</h2>
		<form action="/" method="post">
			<button id="registraF" name="registraF" type="submit">Registro Pessoa Fisica</button> 
            <button id="registraJ" name="registraJ" type="submit">Registro Pessoa Juridica</button> 
			<button id="logar" name="logar" type="submit">Login</button> 
			<button id="busca" name="busca" type="submit">Busca</button> 
		
	</div>
</form>
</body>
</html>
